
/* Shopping cart text */
h1{
    margin-left: 12px;
}

.page-container{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    padding-left: 20px;
    /* border-radius: 8px; */
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
}

/********************
    Cart Page Style
*********************/
#cartList{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 20px;
    gap: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}

/* Cart Item Product */
.cart-item{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color:var(--color-gray-200);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* height: 240px; */
    width: 100%;
}
.cart-item:hover{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.productDetails{
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    margin: 10px;
}
/* Product image */
.cart-item img{
    height: 100%;
    max-height: 200px;
    width:auto;
    max-width: 150px;
    border-radius: 8px;
    object-fit: cover;
    margin:10px
}

/* Product Details */
.cart-item .product-title{
    font-size: var(--font-size-lg);
    font-weight: bold;
}

.cart-item .product-price{
    color: red;
    font-size:var(--font-size-xlg); 
}

.cart-item .product-discount{
    color: var(--color-secondary-text);
    font-size: var(--font-size-lg); 
    text-decoration: line-through;
}

.cart-item .product-price.only{ 
    color: var(--color-primary-text);
    font-size: var(--font-size-xlg); 
    text-decoration: none;
}

.cart-item .price{
    font-size: var(--font-size-lg);
    font-weight: bold;
}

/* increment and decrement product quantity buttons */
.cart-item .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: var(--color-gray-100);

    border-radius: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: fit-content;
    padding: 5px 15px;
    margin: 10px;
}

.cart-item .quantity .increment,.decrement{
    width: 32px;
    height: 32px;
    background-color: var(--color-gray-200);
    color: var(--color-black);
    font-size: var(--font-size-lg);
    font-weight: bold;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border: none;
}

.cart-item .quantity .decrement:hover,.increment:hover{
    cursor: pointer;
    background-color: #d0d0d0;
}

/* Remove Item button */
.removeButton{
    border-radius: 50%;
    height: 40px;
    margin: 10px;
    background-color: rgb(248, 100, 100);
}
.cart-item .removeButton:hover{
    background-color: rgb(230, 3, 3);
}
/* .cart-item .removeButton:focus{
    outline: none;
} */

/********************
    Total Summary
*********************/
#totalSum{
    align-self: flex-end;
    margin: 20px;
    border-radius: 8px;
    border: 1px solid var(--color-primary);
    padding: 20px;
    background-color: var(--color-gray-100);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    height:fit-content;
}

.order-summary{
    margin-top:10px;
    margin-bottom: 20px;
}

.total-word{
    font-weight: lighter;
}

.price{
    position:absolute;
    right: 40px;
    font-weight: bold;
}

.price-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#checkout{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    /* background-color: var(--color-primary); */
    /* color: var(--color-white); */
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

#chechout:hover{
    background-color: var(--color-primary-hover);
}

