/* ===================== */
/*       BASE STYLES     */
/* ===================== */

.footer {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 20px 40px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

/*----------------------------------------------------------------------------------------------------------------------------*/
/* ===================== */
/*  social media icons   */
/* ===================== */

.social-media {
    height: 60px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.social-link {
    align-items: end;
}

.youtube-icon {
    width: 62px;
    height: 65px;
    transform: translate(0,-4px);
  }

  
  .in-icon {
    width: 48px;
    height: 48px;
    align-items:end;
    transform: translate(0, 5px);
  }
  
  .x-icon {
    width: 49px;
    height: 46px;
    transform: translate(0, 5px);
  }
  
  .facebook-icon {
    width: 54px;
    height: 54px;
    transform: translate(0, 2px);
  }
  
.social-link img {
    transition: 0.3s ease;
  }
  
.social-link img:hover {
    filter: invert(49%) sepia(95%) saturate(643%) hue-rotate(76deg);
    transform: translate(0,-3px);
  }


/*----------------------------------------------------------------------------------------------------------------------------*/

/* ===================== */
/*  quick links section  */
/* ===================== */


.quick-links h3,.quick-links ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
 
}

.quick-links li {
    margin-bottom: 15px; 
    
  }

footer a {
    text-decoration: none;
    color: var(--color-primary-text);
    transition: 0.3s ease;
}

footer li a:hover {
    color: var(--color-primary-hover);
    transform: translate(0,-3px);
}

/*---------------------------------------------------------------------------------------------------------------------------*/

/* ===================== */
/*   contact section     */
/* ===================== */

.contact-section {
    display: flex;
    padding-bottom: 0;
}

.contact-img{
    width: 54px;
    height: 54px;
    object-fit: cover;
    margin-left: 0;
    padding-left: 0;
  }
 

.text-contact-section {
    display: flex;
    flex-direction: column;
}
.tel {
    transform: translate(0,-20px);
    color: var(--color-primary);
    transition: 0.3 ease;
}

.tel:hover{
    color: var(--color-primary-hover);
    transform: translate(0,-23px);
}

.quest {
    transform: translate(0,-20px);
}
/*-----------------------------------------------------------------------------------------------------------------------------*/


.download {
    display: flex;
    gap: 20px;
    align-items: center;
}

.download-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-black);
    background-color:var(--color-black);
    padding: 10px;
    border-radius: 5px;
    transition: 0.3 ease;
}

.download-link:hover {
    transform: translate(0,-3px);
}

.app-icon {
    margin-right: 10px;
}

.app-img {
    width: 30px;
    height: auto;
}

.app-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-black);;
}

.app-text small {
    font-size: 8px;
    color: var(--color-white);
}

.app-text span {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-white);
}




/*----------------------------------------------------------------------------------------------------------------------------*/
/* ===================== */
/*         bottom        */
/* ===================== */
.bottom {
    height: 10%;
    display: flex;
    gap: 737px;
    font-size: 13px;
}

.payment{
    margin-right: 20px;
}

.g1{
    color: rgb(20, 20, 186);
}
.g2{
    color: red;
}
.g3{
    color: orange;
}

.g4{
    color: skyblue;
}

.g5{
    color: orangered;
}

hr {
    border: 1px solid var(--color-secondary-text);
    width: 98%;
  }

/*********************************************************************************************************************
/* ===================== */
/*       Themes          */
/* ===================== */

[data-theme="dark-blue"] .footer{
    background-color: var(--color-gray-50);
}

[data-theme="dark-blue"] .contact-section {
    flex-direction: column;
}

[data-theme="dark-blue"] .tel{
    display: inline;
}

[data-theme="dark-blue"] .social-link img {
    filter: brightness(0) saturate(100%) invert(84%) sepia(0%) saturate(0%) hue-rotate(178deg) brightness(96%) contrast(91%);
    transition: 0.3s ease;
}

[data-theme="dark-blue"].contact-img{
    display: none;
}


[data-theme="dark-blue"] .copyright ,.payment {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  
  [data-theme="dark-blue"] .bottom {
    height: auto;
    display: block;
    gap: 0;
    font-size: medium;
  }
  
  [data-theme="dark-blue"] .app-img img , .app-icon{
    border-radius: 50%;
  }

  [data-theme="dark-blue"] li {
    color: var( --color-secondary-text);
  }

  [data-theme="dark-blue"] .contact-section, [data-theme="dark-blue"] .download ,[data-theme="dark-blue"].social-media{
    display: none;
  }