/* ===================== */
/*       VARIABLES       */
/* ===================== */

:root {
    /* Colors */
    --color-primary: #1ABA1A;
    --color-primary-hover: #169c16;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-100: #f5f5f5;
    --color-gray-200: #e0e0e0;
    --color-gray-300: #c0c0c0;
    --color-primary-text: #202020;
    --color-secondary-text: #3d3d3d;

    /* Fonts */
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-size-base: 16px;
    --font-size-sm: 14px;
    --font-size-lg: 20px;
    --line-height: 1.5;
}

/* ===================== */
/*       BASE STYLES     */
/* ===================== */

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    color: var(--color-primary-text);
    background-color: var(--color-white);
    margin: 0;
    padding: 0;
}

/* ===================== */
/*        BUTTONS        */
/* ===================== */

.button {
    display: inline-block;
    padding: 8px 16px;
    font-size: var(--font-size-base);
    color: var(--color-white);
    background-color: var(--color-primary);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: var(--color-primary-hover);
}

.button.outline {
    background-color: transparent;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.button.outline:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* ===================== */
/*         FORMS         */
/* ===================== */

input, textarea, select {
    width: 100%;
    padding: 8px;
    font-size: var(--font-size-base);
    border: 1px solid var(--color-gray-200);
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

input:focus, textarea:focus, select:focus {
    border-color: var(--color-primary);
    outline: none;
}

label {
    display: block;
    margin: 10px 0px 5px 0px;
    font-weight: 500;
}


/* ===================== */
/*       Themes          */
/* ===================== */

[data-theme="blue"]:root {
    /* Colors */
    --color-primary: #388bff;
    --color-primary-hover: #3180ee;
}