body{
    display: flex;
    flex-direction: column;
}

/* dark mode */
[data-theme="dark-blue"] body{
    background-color: var(--color-background);
    color: var(--color-primary);
}

.profilePage{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    background-color: var(--color-background);
    color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 10px;
    height: 500px;
}

[data-theme="dark-blue"] .profilePage{
    color: var(--color-primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}   

/*********************
* main profile style *
**********************/
aside{
    background-color: var(--color-gray-200);
    padding: 20px;
    width: 200px;
    border-radius:8px;
}

img{
    width:200px;
    height: 200px;
    background-color: #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    object-fit: cover ;
}

#sidebar-name{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#sidebar-email{
    font-weight:lighter;
    text-align: center;
}

.button {
    font-size: 16px;
    width: 200px;
    padding:15px;
    margin-bottom: 5px ;
    margin-top: 5px;
}

/*******************
 *   Account info  *
********************/
main{
    flex: 1;
    padding: 0 20px;
}

h1{
    margin-bottom: 15px;
}

/* the '*' character of required inputs */
.required{
    color:red;
}

/* optional of the telphone number */
.Optional{
    font-weight:lighter;
}

/* save button */
#save{
    border-radius: 40px;
    width: 100px;
    margin-top: 10px;
}
